<header class="container">
  <h1 class="title">Top page</h1>
</header>

<div class="container">
  <table border>
    <tr>
    <th>ID</th>
    <th>名前</th>
    <th>苗字</th>
    <th colspan=3>誕生日</th>
    </tr>
    <%= @h %>
  </table>
</div>

<div class="item">
  <input type="text" id="user_id" name="id">
  <input type="button" value="検索">
</div>

