<div class="container">
<h1 class="title">利用者登録ページ</h1>
</div>

<div class="container">
  <h2>フォーム</h2>
</div>

<div class="container">
  <form method="post" action="/register">
    <tr>
    <div class="container labeling">
      <label>ID</label>
      <td><input type="text" name="id"></td>
    </div>
    <div class="container　labeling">
      <label>氏名</label>
      <td><input type="text" name="first_name"></td>
      <td><input type="text" name="last_name"></td>
    </div>
    <div class="container labeling">
    <label>誕生日</label>
      <td><input type="text" name="birth_year"></td>
      <td><input type="text" name="birth_month"></td>
      <td><input type="text" name="birth_day"></td>
    </div>
    </tr>
    <div class="container labeling">
      <input type="submit" value="登録">
    </div>
  </form>
</div>



